{% extends "baseNav.njk" %} Content! {% block content %}
    <script src="./assets/scripts/demo.js"></script>
    <!-- Header -->
    <section class="p-2 md:p-0">
        <div class="opacity-[0.15] lg:hidden absolute right-0">
            <img alt="Prosopo Logo" class="object-cover" src="/static/prosopo_logo_cropped_black.svg" decoding="async"
                 height="926" loading="lazy" width="428">
        </div>
        <div class="relative z-10 items-center overflow-hidden w-full px-5 pt-32 pb-16 mx-auto md:px-12 lg:px-16 max-w-7xl">
            <div class="grid items-start grid-cols-1 gap-12 lg:grid-cols-1">
                <div>
                    <div class="text-center">
                        <div>
                            <p class="text-3xl font-extrabold text-gray-900 leading-9 sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none">
                                Private, Decentralized, Secure. <br> Prosopo Bot Protection.
                            </p>
                            <p class="mt-4 text-xl text-gray-600 leading-7">
                                Say goodbye to intrusive, centralised CAPTCHA solutions. Prosopo Procaptcha offers
                                robust
                                bot protection without compromising user privacy.
                            </p>
                        </div>
                        <div class="max-w-md mx-auto mt-5 sm:flex sm:justify-center md:mt-8">
                            <div class="shadow rounded-md">
                                <a href="/register"
                                   class="flex items-center justify-center w-full px-8 py-3 text-base font-medium text-white bg-black border border-transparent leading-6 rounded-md hover:bg-indigo-800 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10 plausible-event-name=Header+Signup">
                                    Get started
                                </a>
                            </div>
                            <div class="mt-3 shadow rounded-md sm:mt-0 sm:ml-3">
                                <a href="#features"
                                   class="flex items-center justify-center w-full px-8 py-3 text-base font-medium text-gray-600 bg-white border border-transparent leading-6 rounded-md hover:text-gray-500 focus:outline-none focus:shadow-outline-blue transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10 plausible-event-name=Header+Learn+More">
                                    Learn more →
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# demo #}
    <section class="bg-gray-100 px-7 py-16" id="demo-section">
        <div>
            <div class="max-w-[420px] bg-inherit mx-auto border-gray-200 rounded-lg border-2 text-center h-[128px]" id="demo">
                <div id="procaptcha-demo" class="h-full w-full relative z-50">
                    <div class="flex gap-3 h-full items-center justify-center">
                        <div class="h-[35px]">
                            <input type="checkbox" class="bg-white" id="procaptchaCheckbox" onchange="window.checkBox(); window.checkForm()" />
                            <div style="display: none;" id="procaptchaLoadingSpinner">
                                <div>
                                    <div class="loading-spinner"></div>
                                </div>
                            </div>
                        </div>
                        <span>I am human</span>

                        <div class="svgDiv">
                            <svg
                                class="logo hidden sm:block"
                                id="logo-with-text"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 2062.63 468.67"
                                height="35px"
                                width="140px"
                                style={{ fill }}
                            >
                                <title>Prosopo Logo With Text</title>
                                <path
                                    d="M335.55,1825.19A147.75,147.75,0,0,1,483.3,1972.94h50.5c0-109.49-88.76-198.25-198.25-198.25v50.5Z"
                                    transform="translate(-215.73 -1774.69)"
                                />
                                <path
                                    d="M269.36,1891.39A147.74,147.74,0,0,1,417.1,2039.13h50.5c0-109.49-88.75-198.24-198.24-198.24v50.5Z"
                                    transform="translate(-215.73 -1774.69)"
                                />
                                <path
                                    d="M414,2157.17a147.75,147.75,0,0,1-147.74-147.74h-50.5c0,109.49,88.75,198.24,198.24,198.24v-50.5Z"
                                    transform="translate(-215.73 -1774.69)"
                                />
                                <path
                                    d="M480.17,2091a147.74,147.74,0,0,1-147.74-147.75H281.92c0,109.49,88.76,198.25,198.25,198.25V2091Z"
                                    transform="translate(-215.73 -1774.69)"
                                />
                                <path
                                    d="M862.8,2017.5q-27.39,22.86-78.25,22.86h-65v112.19H654.82v-312h134q46.32,0,73.86,24.13t27.55,74.72Q890.2,1994.64,862.8,2017.5ZM813,1905.1q-12.37-10.36-34.7-10.38H719.59v91.87h58.75q22.32,0,34.7-11.22t12.39-35.56Q825.43,1915.48,813,1905.1Z"
                                    transform="translate(-215.73 -1774.69)"
                                />
                                <path
                                    d="M1045.69,1916.42c.78.08,2.51.19,5.19.32v61.81c-3.81-.42-7.2-.71-10.16-.85s-5.36-.21-7.2-.21q-36.4,0-48.89,23.71-7,13.33-7,41.06v110.29H916.89V1921.82h57.58V1962q14-23.07,24.34-31.54,16.94-14.18,44-14.18C1044,1916.32,1044.92,1916.35,1045.69,1916.42Z"
                                    transform="translate(-215.73 -1774.69)"
                                />
                                <path
                                    d="M1265.64,2124.32q-29.21,36.06-88.69,36.06t-88.69-36.06Q1059,2088.26,1059,2037.5q0-49.9,29.22-86.5t88.69-36.59q59.47,0,88.69,36.59t29.21,86.5Q1294.85,2088.26,1265.64,2124.32ZM1217.38,2091q14.17-18.81,14.18-53.48t-14.18-53.37q-14.19-18.7-40.64-18.71T1136,1984.13q-14.29,18.72-14.29,53.37T1136,2091q14.28,18.81,40.75,18.81T1217.38,2091Z"
                                    transform="translate(-215.73 -1774.69)"
                                />
                                <path
                                    d="M1371.81,2078.88q1.92,16.1,8.29,22.87,11.28,12.06,41.7,12.06,17.85,0,28.39-5.29t10.53-15.88a17.12,17.12,0,0,0-8.48-15.45q-8.49-5.28-63.12-18.2-39.33-9.73-55.41-24.35-16.08-14.39-16.09-41.49,0-32,25.14-54.93t70.75-23q43.26,0,70.53,17.25t31.29,59.59H1455q-1.27-11.64-6.58-18.42-10-12.27-34-12.28-19.74,0-28.13,6.14t-8.38,14.4c0,6.91,3,11.93,8.92,15q8.89,4.89,63,16.73,36,8.46,54.05,25.61,17.77,17.35,17.78,43.39,0,34.3-25.56,56t-79,21.7q-54.51,0-80.49-23t-26-58.53Z"
                                    transform="translate(-215.73 -1774.69)"
                                />
                                <path
                                    d="M1745.54,2124.32q-29.22,36.06-88.7,36.06t-88.69-36.06q-29.2-36.06-29.21-86.82,0-49.9,29.21-86.5t88.69-36.59q59.49,0,88.7,36.59t29.21,86.5Q1774.75,2088.26,1745.54,2124.32ZM1697.27,2091q14.19-18.81,14.19-53.48t-14.19-53.37q-14.18-18.7-40.64-18.71t-40.75,18.71q-14.28,18.72-14.28,53.37t14.28,53.48q14.3,18.81,40.75,18.81T1697.27,2091Z"
                                    transform="translate(-215.73 -1774.69)"
                                />
                                <path
                                    d="M1992.75,1946.59q28.24,29.84,28.23,87.63,0,61-27.58,92.93t-71.06,32q-27.69,0-46-13.76-10-7.62-19.6-22.23v120.24H1797V1921.82h57.79v34.08q9.79-15,20.88-23.71,20.23-15.43,48.15-15.45Q1964.53,1916.74,1992.75,1946.59Zm-46.3,43.39q-12.3-20.52-39.88-20.53-33.15,0-45.54,31.11-6.43,16.51-6.42,41.92,0,40.21,21.58,56.51,12.82,9.53,30.37,9.53,25.45,0,38.83-19.48t13.36-51.86Q1958.75,2010.51,1946.45,1990Z"
                                    transform="translate(-215.73 -1774.69)"
                                />
                                <path
                                    d="M2249.14,2124.32q-29.2,36.06-88.69,36.06t-88.69-36.06q-29.22-36.06-29.21-86.82,0-49.9,29.21-86.5t88.69-36.59q59.49,0,88.69,36.59t29.22,86.5Q2278.36,2088.26,2249.14,2124.32ZM2200.88,2091q14.19-18.81,14.18-53.48t-14.18-53.37q-14.18-18.7-40.64-18.71t-40.75,18.71q-14.28,18.72-14.29,53.37t14.29,53.48q14.3,18.81,40.75,18.81T2200.88,2091Z"
                                    transform="translate(-215.73 -1774.69)"
                                />
                            </svg>

                            <svg
                                class="logo block sm:hidden"
                                id="logo-without-text"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 260 348"
                                height="35px"
                                style={{ fill }}
                            >
                                <title>Prosopo Logo Without Text</title>
                                <path d="M95.7053 40.2707C127.005 40.2707 157.022 52.6841 179.154 74.78C201.286 96.8759 213.719 126.844 213.719 158.093H254.056C254.056 70.7808 183.16 -4.57764e-05 95.7053 -4.57764e-05V40.2707Z" />
                                <path d="M42.8365 93.0614C58.3333 93.0614 73.6784 96.1087 87.9955 102.029C102.313 107.95 115.322 116.628 126.279 127.568C137.237 138.508 145.93 151.496 151.86 165.79C157.79 180.084 160.843 195.404 160.843 210.875H201.179C201.179 123.564 130.291 52.7906 42.8365 52.7906V93.0614Z" />
                                <path d="M158.367 305.005C127.07 305.003 97.056 292.59 74.926 270.496C52.796 248.402 40.3626 218.437 40.3604 187.191H0.0239563C0.0239563 274.503 70.9123 345.276 158.367 345.276V305.005Z" />
                                <path d="M211.219 252.239C195.722 252.239 180.376 249.191 166.059 243.27C151.741 237.349 138.732 228.67 127.774 217.729C116.816 206.788 108.123 193.799 102.194 179.505C96.2637 165.21 93.2121 149.889 93.2132 134.417H52.8687C52.8687 221.729 123.765 292.509 211.219 292.509V252.239Z" />
                            </svg>  
                        </div>
                    </div>
                </div>
                <div id="progress" class="relative z-10 h-full top-[-124px]">
                    <div id="progress-bar" class="animate-pulse w-0 bg-green-500 text-white text-center bg-opacity-50 h-full">&nbsp;</div>
                </div>
            </div>
        </div>
    </section>

    {# features #}
    <section class="bg-inherit pt-32 pb-32 z-40" id="features">
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 z-0">

            <!-- Right Column -->
            <div class="w-full px-4">
                <div class="flex flex-wrap">
                    <!-- Row 1 -->
                    <div class="w-full flex flex-wrap">
                        <div class="w-full md:w-6/12 px-4">
                            <div class="feature-box">
                                <h6 class="text-xl mb-1 font-semibold"><i class="fas fa-sitemap text-xl"></i>
                                    Seamless Integration</h6>
                                <p class="mb-4 text-blueGray-500">
                                    Prosopo Captcha is a drop in replacement for reCaptcha and hCaptcha,
                                    allowing you to be up and running in minutes.
                                </p>
                            </div>
                        </div>

                        <div class="w-full md:w-6/12 px-4">
                            <div class="feature-box">
                                <h6 class="mb-1 font-semibold"><i class="fas fa-check-circle text-xl"></i>
                                    Verification
                                    as a priority</h6>
                                We're not a giant ad network who use your clicks on traffic lights to train self-driving cars. We prioritise human
                                verification for your app first, not user tracking or data labelling.
                                <p class="mb-4 text-blueGray-500"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Row 2 -->
                    <div class="w-full flex flex-wrap pt-8">
                        <div class="w-full md:w-6/12 px-4">
                            <div class="feature-box ">
                                <h6 class="text-xl mb-1 font-semibold"><i class="fas fa-newspaper text-xl"></i>
                                    Private & anonymous</h6>
                                <p class="mb-4 text-blueGray-500">
                                    We don't store any data. Bot detectors receive minimal information from your
                                    application and there is no centralised user data store.
                                </p>
                            </div>
                        </div>

                        <div class="w-full md:w-6/12 px-4">
                            <div class="feature-box">
                                <h6 class="text-xl mb-1 font-semibold"><i class="fas fa-credit-card text-xl"></i>
                                    Free forever</h6>
                                <p class="mb-4 text-blueGray-500">
                                    Grow your site from 0 to 100,000 users without paying a penny. We'll never
                                    charge for our image based CAPTCHA service.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- Plans & Pricing -->
    <section aria-labelledby="pricing-one" id="pricing-one" class="bg-gray-100">
        <div class="pt-12 sm:pt-16 lg:pt-20">
            <div class="px-4 mx-auto max-w-screen-xl sm:px-6 lg:px-8">
                <div class="text-center"><h2
                            class="text-3xl font-extrabold text-gray-900 leading-9 sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none">
                        Traffic based plans that match your growth </h2>
                    <p class="mt-4 text-xl text-gray-600 leading-7"> Sign up for 12 month free trial. No credit card
                        required. </p></div>
            </div>
        </div>
        <div class="relative items-center w-full px-8 py-8 mx-auto md:px-12 lg:px-16 max-w-7xl">
            <div class="grid max-w-2xl grid-cols-1 -mx-4 gap-y-10 sm:mx-auto lg:max-w-none lg:grid-cols-3 xl:gap-x-4 lg:-mx-8">
                <section class="flex flex-col px-6 sm:px-8 lg:py-8 bg-white rounded-3xl m-4 border-gray-200 border-2">
                    <h3 class="mt-5 text-lg text-black">Basic (Free)</h3>
                    <p class="mt-2 text-sm text-gray-500">
                        Secure your website from bots and bad actors for free.
                    </p>
                    <p class="order-first text-4xl font-bold tracking-tight text-black">
                        $0
                    </p>
                    <ul role="list" class="flex flex-col order-last mt-10 text-sm text-gray-500 gap-y-3">
                        <li class="flex items-center">
                            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img"
                                      aria-label="checkmark outline"></ion-icon>
                            <span class="ml-4"> Effective Bot Protection with Procaptcha </span>
                        </li>
                        <li class="flex items-center">
                            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img"
                                      aria-label="checkmark outline"></ion-icon>
                            <span class="ml-4"> Decentralized privacy preserving platform </span>
                        </li>
                        <li class="flex items-center">
                            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img"
                                      aria-label="checkmark outline"></ion-icon>
                            <span class="ml-4"> Global coverage </span>
                        </li>
                    </ul>
                    <a class="items-center justify-center w-full px-6 py-2.5 mt-8 text-center text-white duration-200 bg-black border-2 border-black rounded-md inline-flex hover:bg-transparent hover:border-black hover:text-black focus:outline-none focus-visible:outline-black text-sm focus-visible:ring-black plausible-event-name=Plans+Free+Tier"
                       aria-label="Free tier" href="/register">
                        Sign up for free!
                    </a>
                </section>
                <section
                        class="flex flex-col order-first px-6 py-8 bg-black rounded-3xl sm:px-8 lg:order-none border-gray-200 border-2">
                    <h3 class="mt-5 text-lg text-white">Premium</h3>
                    <p class="text-s font-bold tracking-tight text-white">Free for the first 12 months!</p>
                    <p class="mt-2 text-sm text-gray-100">
                        GDPR compliant bot protection. 100k monthly Procaptcha requests.
                    </p>
                    <p class="order-first text-4xl font-bold tracking-tight text-white">
                        $9 per month
                    </p>
                    <ul role="list" class="flex flex-col order-last mt-10 text-sm text-white gap-y-3">
                        <li class="flex items-center">
                            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img"
                                      aria-label="checkmark outline"></ion-icon>
                            <span class="ml-4"> Everything in Basic </span>
                        </li>
                        <li class="flex items-center">
                            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img"
                                      aria-label="checkmark outline"></ion-icon>
                            <span class="ml-4"> Frictionless, GDPR compliant Proof of Work (PoW) Procaptcha </span>
                        </li>
                        <li class="flex items-center">
                            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img"
                                      aria-label="checkmark outline"></ion-icon>
                            <span class="ml-4"> Up to 100k monthly requests </span>
                        </li>
                        <li class="flex items-center">
                            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img"
                                      aria-label="checkmark outline"></ion-icon>
                            <span class="ml-4"> Technical Support </span>
                        </li>
                        <li class="flex items-center">
                            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img"
                                      aria-label="checkmark outline"></ion-icon>
                            <span class="ml-4"> Custom Themes and Styles </span>
                        </li>
                    </ul>
                    <a class="items-center justify-center w-full px-6 py-2.5 mt-8 text-center text-black duration-200 bg-white border-2 border-white rounded-md nline-flex hover:bg-transparent hover:border-white hover:text-white focus:outline-none focus-visible:outline-white text-sm focus-visible:ring-white plausible-event-name=Plans+Advanced+Tier"
                       aria-label="Advanced Tier" href="/register">
                        Start Your 12 Month Free Trial!
                    </a>
                </section>
                <section class="flex flex-col px-6 sm:px-8 lg:py-8 bg-white rounded-3xl m-4 border-gray-200 border-2">
                    <h3 class="mt-5 text-lg text-black">Get in touch</h3>
                    <p class="mt-2 text-sm text-gray-500">
                        Industry leading custom scalable solutions for all website protection needs.
                    </p>
                    <p class="order-first text-4xl font-bold tracking-tight text-black">
                        Enterprise
                    </p>
                    <ul role="list" class="flex flex-col order-last mt-10 text-sm text-gray-500 gap-y-3">
                        <li class="flex items-center">
                            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img"
                                      aria-label="checkmark outline"></ion-icon>
                            <span class="ml-4"> Everything in Advanced </span>
                        </li>
                        <li class="flex items-center">
                            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img"
                                      aria-label="checkmark outline"></ion-icon>
                            <span class="ml-4"> Connect multiple websites </span>
                        </li>
                        <li class="flex items-center">
                            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img"
                                      aria-label="checkmark outline"></ion-icon>
                            <span class="ml-4"> Advanced Analytics and Statistics </span>
                        </li>
                        <li class="flex items-center">
                            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img"
                                      aria-label="checkmark outline"></ion-icon>
                            <span class="ml-4"> Unlimited Requests </span>
                        </li>
                        <li class="flex items-center">
                            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img"
                                      aria-label="checkmark outline"></ion-icon>
                            <span class="ml-4"> Custom Captcha solutions, specifically for your needs </span>
                        </li>
                    </ul>
                    <a class="items-center justify-center w-full px-6 py-2.5 mt-8 text-center text-white duration-200 bg-black border-2 border-black rounded-md nline-flex hover:bg-transparent hover:border-black hover:text-black focus:outline-none focus-visible:outline-black text-sm focus-visible:ring-black plausible-event-name=Plans+Enterprise+Tier"
                       aria-label="Big fish tier" href="https://5yqkczzj10p.typeform.com/to/aKYnDBAO">
                        Contact Sales
                    </a>
                </section>
            </div>
        </div>
    </section>


    <div class="max-w-7xl mx-auto"></div>


{% endblock %}
